.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: #ccc 1px solid;
}

.container h1,
h2 {
  text-align: center;
  color: #ffffff;
}

.contact-options {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.card {
  flex: 1;
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #333333;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.card i {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff;
}

.card h3 {
  margin: 10px 0;
  color: #ffffff;
}

.card p {
  color: #b8b8b8;
}

.form-container {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  color: #ffffff;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333333;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
